﻿@model Curso.Lanches.Models.Lanche

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@Model.imagemUrl" class="img-rounded" alt=""/>
        </div>
        <div class="caption">
            <h3 class="pull-righ"> @Model.preco.ToString("c")</h3>
            <h3>
                @Model.nome
            </h3>
            <p>@Model.descricaoCurta</p>
        </div>
    </div>